<legend>{{ headline }}</legend>

<form name="planForm" class="form-horizontal col-xs-offset-3" autocomplete="off" role="form" unsaved-warning-form >

    <div class="form-group">
        <!-- <label class="col-sm-2 control-label" for="nameInput">Name</label> -->
        <div class="col-sm-5">
            <input type="text" placeholder="Name" id="nameInput" class="form-control" ng-model="agentPlanType.name" ng-required >
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Plan Type</label>
        <div class="col-sm-5">
            <label class="radio-inline" for="prePaidRadio"><input id="prePaidRadio" type="radio"  ng-model="agentPlanType.type" value="PREPAID"/>Pre-paid</label>
            <label class="radio-inline" for="postPaidRadio"><input id="postPaidRadio" type="radio"  ng-model="agentPlanType.type" value="POSTPAID"/>Post-Paid</label>

        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Commission Type</label>
        <div class="col-sm-4">
            <label class="radio-inline" for="fixedRadio"><input id="fixedRadio" type="radio"  ng-model="agentPlanType.commissionType" value="FIXED"/>Fixed</label>
            <label class="radio-inline" for="percentageRadio"><input id="percentageRadio" type="radio"  ng-model="agentPlanType.commissionType" value="PERCENTAGE"/>Percentage</label>
        </div>
    </div>

    <div class="form-group">
       <!--  <label class="col-sm-2 control-label" for="depositInput">Deposit</label> -->
        <div class="col-sm-5">
            <input type="number" placeholder="Deposit" id="depositInput" class="form-control" ng-model="agentPlanType.deposit">
        </div>
    </div>

    <div class="form-group">
        <!-- <label class="col-sm-2 control-label" for="balanceInput">Balance</label> -->
        <div class="col-sm-5">
            <input type="number" placeholder="Balance" id="balanceInput" class="form-control" ng-model="agentPlanType.balance">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Settlement Frequency</label>
        <div class="col-sm-5">
            <label class="radio-inline" for="dailyRadio"><input id="dailyRadio" type="radio" ng-model="agentPlanType.settlementFrequency" value="DAILY"/>Daily</label>
            <label class="radio-inline" for="weeklyRadio"><input id="weeklyRadio" type="radio" ng-model="agentPlanType.settlementFrequency" value="WEEKLY"/>Weekly</label>
            <label class="radio-inline" for="monthlyRadio"><input id="monthlyRadio" type="radio" ng-model="agentPlanType.settlementFrequency" value="MONTHLY"/>Monthly</label>
            <label class="radio-inline" for="customRadio"><input id="customRadio" type="radio" ng-model="agentPlanType.settlementFrequency" value="CUSTOM"/>Custom</label>
        </div>
    </div>

    <div class="form-group">
        <!-- <label class="col-sm-2 control-label" for="thresholdInput">Threshold</label> -->
        <div class="col-sm-5">
            <input type="number" placeholder="Threshold" id="thresholdInput" class="form-control" ng-model="agentPlanType.threshold">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-4 text-right">
            <button class="btn btn-primary" ng-click="ok()">Save Plan</button>
        </div>
        <div class="col-sm-3 next">
            <button  class="btn btn-danger" ng-click="cancelPlanType(planForm)">Cancel</button>
        </div>
    </div>
</form>





