<div class="row">
    <div class="page-header">
        <h3>Dashboard</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-5 col-md-8 col-lg-9"></div>
    <div class="col-xs-7 col-md-4 col-lg-3">
        <my-datepicker ng-model="dt"></my-datepicker>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 col-xs-12 padding-bottom">
        <div class="card">
            <div class="bg-holder bg-card" style="background-image:url(client/assets/img/corner-2.png); border-radius: 1rem"></div>
            <div class="card-body position-relative">
                <label class="ls text-uppercase text-600 font-weight-semi-bold">Paid Bookings</label>
                <div class="row">
                    <div class="col-xs-5 dash-am"><i class="fa fa-car fa-3x" style="color: #337ab7"></i></i></div>
                    <div class="col-xs-7 dash-am"><span class="fa-2x" style="color: #337ab7">85</span></div>
                </div>
                <div class="row">
                    <a href="/home#/busdetails">
                        <div class="col-xs-10">
                            <h6 class="">View Details</h6>
                        </div>
                        <div class="col-xs-2">
                            <h6 class=""><i class="fa fa-arrow-circle-right"></i></h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-xs-12 padding-bottom">
        <div class="card">
            <div class="bg-holder bg-card" style="background-image:url(client/assets/img/corner-3.png); border-radius: 1rem"></div>
            <div class="card-body position-relative">
                <label class="ls text-uppercase text-600 font-weight-semi-bold">To Pay Bookings</label>
                <div class="row">
                    <div class="col-xs-5 dash-am"><i class="fa fa-ticket fa-3x" style="color: #3c763d"></i></i></div>
                    <div class="col-xs-7 dash-am"><span class="fa-2x" style="color: #3c763d">3400</span></div>
                </div>
                <div class="row">
                    <a href="/home#/busdetails">
                        <div class="col-xs-10">
                            <h6 class="">View Details</h6>
                        </div>
                        <div class="col-xs-2">
                            <h6 class=""><i class="fa fa-arrow-circle-right"></i></h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-xs-12 padding-bottom">
        <div class="card">
            <div class="bg-holder bg-card" style="background-image:url(client/assets/img/corner-3.png); border-radius: 1rem"></div>
            <div class="card-body position-relative">
                <label class="ls text-uppercase text-600 font-weight-semi-bold">Free Bookings</label>
                <div class="row">
                    <div class="col-xs-5 dash-am"><i class="fa fa-shopping-cart fa-3x" style="color: #8a6d3b"></i></i>
                    </div>
                    <div class="col-xs-7 dash-am "><span class="fa-2x" style="color: #8a6d3b">28</span></div>
                </div>
                <div class="row">
                    <a href="/home#/busdetails">
                        <div class="col-xs-10">
                            <h6 class="">View Details</h6>
                        </div>
                        <div class="col-xs-2">
                            <h6 class=""><i class="fa fa-arrow-circle-right"></i></h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-xs-12 padding-bottom">
        <div class="card">
            <div class="bg-holder bg-card" style="background-image:url(client/assets/img/corner-1.png); border-radius: 1rem"></div>
            <div class="card-body position-relative">
                <label class="ls text-uppercase text-600 font-weight-semi-bold">On Account</label>
                <div class="row">
                    <div class="col-xs-5 dash-am"><i class="fa fa-ticket fa-3x" style="color: #a94442"></i></i></div>
                    <div class="col-xs-7 dash-am"><span class="fa-2x" style="color: #a94442">59</span></div>
                </div>
                <div class="row">
                    <a href="/home#/busdetails">
                        <div class="col-xs-10">
                            <h6 class="">View Details</h6>
                        </div>
                        <div class="col-xs-2">
                            <h6 class=""><i class="fa fa-arrow-circle-right"></i></h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
