<!--<div class="container" style="width: 100%">-->

<div ng-include="'partials/cargoLookup.tpl.html'"></div>

<div ng-controller="CargoUnloadingSheetController">
    <div class="row">
        <div class="box-body">
            <div class="filter-form">
                <div class="row">
                    <form name="shipments" class="shipments">
                        <div class="col-lg-7 col-xs-7">
                            <div class="col-lg-8 col-md-8">
                                <label class="ls text-600 font-weight-semi-bold">Unload at Branch Office:</label>
                                <select id="fromBranchOffice" ng-options="office.id as office.name for office in offices"
                                        class="form-control input-sm" ng-model="filter.toBranchId"
                                        ng-change="searchBookingForUnload()"
                                        required></select>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter-search-btn">
                                    <button type="button" class="btn btn-sm btn-success "
                                            ng-click="exportToExcel('cargoBookings', 'CargoBookings')">Export to Excel
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xs-5">
                            <div class="filter-search-btn">
                                <ul class="list-inline pull-right">
                                    <li><label class="ls text-600 font-weight-semi-bold" ng-class="{'active':filterString === ''}">
                                        <input type="radio" value='' checked="checked" ng-model="filterString" name="status">
                                        <b>All:</b> {{total}}</label></li>
                                    <li><label class="ls text-600 font-weight-semi-bold" ng-class="{'active':filterString === 'Paid'}">
                                        <input type="radio" value="Paid" ng-model="filterString" name="status">
                                        <b>Paid:</b> {{paidCargoBooking}}</label></li>
                                    <li><label class="ls text-600 font-weight-semi-bold" ng-class="{'active':filterString === 'ToPay'}">
                                        <input type="radio" value="ToPay" ng-model="filterString" name="status">
                                        <b>ToPay:</b> {{toPayCargoBooking}}</label></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <!--<div class="clearfix"></div>-->
                <div class="row">
                    <div class="col-xs-11"></div>
                    <div class="col-xs-1">
                        <div class="toolbar-button-div pull-right">
                            <button type="button" class="btn btn-sm btn-success pull-right " ng-click="unload()"
                                    ng-show="selectedBookings.length > 0"> Unload
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-condensed table-hover text-center bg-th table-sm fs--1" id="cargoBookings">
                    <thead>
                        <tr>
                            <th>S No</th>
                            <th>LR#</th>
                            <th>Dispatch Date</th>
                            <th>From</th>
                            <th>To</th>
                            <th>To Contact</th>
                            <th>Remarks</th>
                            <th>Transit Status</th>
                            <th>No of Items</th>
                            <th>Message</th>
                            <th>Unload</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cargoBooking in cargoBookings | filter:{paymentType: filterString}">
                            <td>{{$index + 1}}</td>
                            <td data-title="'LR#'" class="clickable-item"><a href="#"
                                                                             ng-click="gotoBooking(cargoBooking.id)">{{cargoBooking.shipmentNumber}}</a>
                            </td>
                            <td data-title="'Service'" sortable="'dispatchDate'" class="clickable-item">
                                {{cargoBooking.dispatchDate
                                |date}}
                            </td>
                            <td data-title="'From'" sortable="'attrs.fromBranchOfficeName'" class="clickable-item">
                                {{cargoBooking.attrs.fromBranchOfficeName}}
                            </td>
                            <td data-title="'To'" sortable="'attrs.toBranchOfficeName'" class="clickable-item">
                                {{cargoBooking.attrs.toBranchOfficeName}}
                            </td>
                            <td data-title="'To Contact'" sortable="'attrs.toName'" class="clickable-item col-sm-1">
                                {{cargoBooking.toName}}<br>{{cargoBooking.toContact}}
                            </td>
                            <td data-title="'Remarks'" sortable="'attrs.remarks'" class="clickable-item">
                                {{cargoBooking.remarks || '--'}}
                            </td>
                            <td data-title="'Transit Status'" class="clickable-item">{{cargoBooking.cargoTransitStatus}}
                            </td>
                            <td data-title="'No of items'" class="clickable-item">{{cargoBooking.totalArticles}}</td>
                            <td>{{cargoBooking.recentMessage}}</td>
                            <td data-title="'Unload'" class="clickable-item">
                                <input
                                        type="checkbox"
                                        name="selectedBookings[]"
                                        value="{{cargoBooking.id}}"
                                        ng-checked="selection.indexOf(cargoBooking.id) > -1"
                                        ng-click="toggleBookingSelection(cargoBooking.id)">
                            </td>
                        </tr>
                        <tr ng-if="!cargoBookings || cargoBookings.length === 0">
                            <td colspan="8">No Cargo Bookings found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--</div>-->
