<div class="page-header">
    <h3>{{headline}}</h3>
</div>
<div class="row">
    <div class="box box-body-form">
        <linechart data="data"
                   options="options"
                   style="width: auto;height: 400px"
                   on-click="onClick"
                   on-hover="onHover"
                   on-focus="onFocus"
                   on-toggle="onToggle"></linechart>
    </div>
</div>

<div class="row" style="margin-top: 60px">
    <div class="box box-body-form">
        <linechart data="data"
                   options="optionsColumn"
                   style="width: auto;height: 400px"
                   on-click="onClick"
                   on-hover="onHover"
                   on-focus="onFocus"
                   on-toggle="onToggle"></linechart>
    </div>
</div>