<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <p class="input-group">
            <input type="text" class="form-control datepicker-input" datepicker-popup="{{format}}" ng-model="dt.dateRangeStart" is-open="startOpened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" disabled/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" ng-click="openStart($event)" style="padding-bottom: 8px; z-index: 10;"><i class="fa fa-calendar"></i></button>
                </span>
        </p>
    </div>

    <h5 class="col-md-2" style="text-align: center; margin-top: 10px;">to</h5>

    <div class="col-md-4">
        <p class="input-group">
            <input type="text" class="form-control datepicker-input" datepicker-popup="{{format}}" ng-model="dt.dateRangeEnd" is-open="endOpened" min-date="dateRangeStart" max-date="maxDate" init-date="initDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" disabled/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" ng-click="openEnd($event)" style="padding-bottom: 8px; z-index: 10;"><i class="fa fa-calendar"></i></button>
                </span>
        </p>
    </div>
</div>