
<div ng-show="!loading" class="container">
    <legend>Invoice</legend>
</div>

<div>
    <form name="invoice" class="form-horizontal" autocomplete="off" role="form" unsaved-warning-form >
        <div class="form-group">
            <label class="col-sm-2 control-label ">Start Date</label>
            <div class="col-sm-2" >
                <my-datepicker ng-model="dt"></my-datepicker>
                <span class="input-group-btn">
                    <span class="error" ng-show="invoice.startDate.$error.max">Start date should be before end date</span>
                </span>
            </div>

            <label class="col-sm-2 control-label ">End Date</label>
            <div class="col-sm-2" >
                <my-datepicker ng-model="dt2"></my-datepicker>
                <span class="input-group-btn">
                    <span class="error" ng-show="invoice.endDate.$error.max">You choose future date as end date</span>
                </span>
            </div>
            <div class="col-sm-2">
                <select id="channel" class="form-control" ng-model="channel" multiple="true" >
                    <option value="REDBUS-API">Redbus</option>
                    <option value="ABHIBUS">Abhibus</option>
                    <option value="Agent">Agent</option>
                </select>
            </div>
            <button type="button" class="btn btn-sm btn-success " ng-click="search()" ng-disabled = "invoice.$invalid "> Search Bookings </button>
            <button type="button" class="btn btn-sm btn-success " ng-click="exportToExcel('invoiceSearchResults', 'Invoice')" > Export to Excel </button></button>

        </div>
        <div ng-show="!loading">
            <div class="form-group">
                <table class="table table-bordered table-condensed table-hover">
                    <tr><td>Total Sale</td><td>{{invoice.totalSale | number}} </td>
                        <td>Tax</td><td>{{invoice.totalTax | number}} </td>
                        <td>Total </td><td>{{invoice.totalSale + invoice.totalTax | number}}</td>
                    </tr>
                </table>
            </div>

            <table class="table table-bordered table-condensed table-hover" ng-table="searchTableParams" id="invoiceSearchResults">
                <tr ng-repeat="booking in invoice.bookings">
                    <td data-title="'Journey Date'" sortable="'date'" style="width: 30px;" class="clickable-item" >{{booking.journeyDate | date}}</td>
                    <td data-title="'Tikcet'" sortable="'ticketNo'" style="width: 30px;" class="clickable-item" >{{booking.ticketNo}}</td>
                    <td data-title="'BookedBy'" sortable="'date'" style="width: 20px;" class="clickable-item" >{{booking.bookedBy}}</td>
                    <td data-title="'Seats'" sortable="'seats'" style="width: 10px;" class="clickable-item col-md-1" >{{booking.seats }}</td>
                    <td data-title="'Service #'"  sortable="'service Number'" style="width: 30px;" class="clickable-item col-md-1" title="{{booking.source}} - {{booking.destination}} - {{booking.serviceName}}" >{{booking.serviceNumber}}</td>
                    <td data-title="'Journey Date'"  sortable="'jdate'" style="width: 30px;" class="clickable-item col-md-1" >{{booking.jdate }}</td>
                    <td data-title="'Booked On'" sortable="'bookedDate'" style="width: 30px;" class="clickable-item col-md-1" >{{booking.bookedDate }}</td>
                    <td data-title="'Net amt'"  sortable="'netAmt'" style="width: 30px;" class="clickable-item col-md-1">{{ booking.netAmt }}</td>
                    <td data-title="'Servcie Tax'"  sortable="'netAmt'" style="width: 30px;" class="clickable-item col-md-1">{{ booking.serviceTax }}</td>
                </tr>

                <tr ng-if="!loading  && !invoice.bookings || invoice.bookings.length === 0">
                    <td colspan="8">No Bookings found. </td>
                </tr>
            </table>
        </div>
    </form>
</div>

<div ng-show="loading">
    Please wait while the report data is loaded <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
</div>