<div class="row">
    <h3>{{headline}}</h3>
</div>
<br>
<div class="row">
    <form name="remainderDetails" class="form-horizontal" autocomplete="off" role="form" unsaved-warning-form >
        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label">Remainder Date<span class="data-required">*</span>:</label>
                <div class="col-sm-3"><my-datepicker ng-model="reminders.reminderDate"></my-datepicker></div>

                <label class="col-sm-2 control-label">For User : </label>
                <div class="col-sm-3">
                    <select id="userType" class="form-control" ng-model="reminders.userId" required
                            ng-options="user.id as user.fullName for user in userNames"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Remarks :</label>
                <div class="col-sm-3"><input type="text" class="form-control" ng-model="reminders.remarks"></div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Description<span class="data-required">*</span>:</label>
                <div class="col-sm-3">
                    <textarea class="form-control" rows="3" ng-model="reminders.description"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <input type="checkbox" id="CustomerID1" ng-model="reminders.completed"  ng-change="copySenderDetails()" class="m_t_9 handCursor">
                <small class="">Completed.</small>
            </div>

        </div>

        <div class="form-group row text-center mt-30">
            <button class="btn btn-primary" ng-click="saveDet()">Save</button>
            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </div>

    </form>
</div>