<div class="container" ng-controller="UpdatePasswordController">
<legend>{{ headline }}</legend>

<!--- Edit User Form------->

<form name="userForm" class="form-horizontal" autocomplete="off" role="form" unsaved-warning-form >
    <div class="form-group">
        <label class="col-sm-2 control-label">Username<span class="data-required"></span></label>
        <div class="col-sm-4">
            {{user.userName}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="editFirstNameInput">Current password<span class="data-required">*</span></label>
        <div class="col-sm-4">
            <input type="password" id="editFirstNameInput" class="form-control" ng-model="user.currentPassword" placeholder="Current password" required >
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="editPasswordInput">Password<span class="data-required">*</span></label>
        <div class="col-sm-4">
            <input type="password" id="editPasswordInput" name="passwordInput" class="form-control" ng-model="user.password" placeholder="Password" required>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="editConfirmPasswordInput">Confirm Password<span class="data-required">*</span></label>
        <div class="col-sm-4">
            <input type="password" id="editConfirmPasswordInput" name="confirmPasswordInput" class="form-control" ng-model="user.confirmPassword"
                   pw-check="editPasswordInput" placeholder="Confirm Password" required>
            <div class="msg-block" ng-show="user.password !== confirmPassword">
                <span class="msg-error" ng-show="userForm.confirmPasswordInput.$error.pwmatch">Passwords don't match.</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-4"> </div>
        <div class="col-xs-2 text-right">
            <button class="btn btn-primary" ng-click="updatePassword()">Update</button>
        </div>

   </div>
</form>
</div>

