<!--<div class="">-->

    <!--<legend>{{ headline }}</legend>-->

<div class="row">
    <div class="page-header">
        <h3>{{ headline }}</h3>
    </div>
</div>

<div class="row">
    <div class="box-body">
        <div class="filter-form">
            <div class="row">
                <div class="col-12">
                    <div class="col-lg-3">
                        <label class="ls text-uppercase text-600 font-weight-semi-bold control-label">Total: </label><span>  {{ userCount }}</span>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label ls text-uppercase text-600 font-weight-semi-bold">Search:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="filter" placeholder="Search">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="pull-right" ng-if="isAdmin()">
                            <button class="btn btn-sm btn-primary" ng-click="addUser()"><span class="glyphicon glyphicon-plus"></span> Add User</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-condensed table-hover text-center bg-th table-sm fs--1" ng-table="userContentTableParams">
                <tr ng-repeat="user in currentPageOfUsers | filter:filter">
                    <td data-title="'Name'" class="clickable-item" sortable="'fullName'">{{ user.fullName }}</td>
                    <td data-title="'Username'" class="clickable-item" sortable="'userName'">{{ user.userName }}</td>
                    <td data-title="'Contact'" class="clickable-item" sortable="'contact'">{{ user.contact }}</td>
                    <td data-title="'Branch'" class="clickable-item">{{ user.attrs.branchName }}</td>
                    <td data-title="'Active'" class="clickable-item" sortable="'active'">{{ user.active }}</td>
                    <td data-title="'CashBalance'" sortable="'amountToBePaid'" class="col-sm-1" sortable="'active'">
                        {{user.amountToBePaid | number : 2}}
                    </td> <td data-title="'Action'" class="ed-btn" ng-if="isAdmin()">
                        <button class="btn btn-sm btn-primary" ng-click="editUser(user.id)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-sm btn-danger" ng-click="deleteUser(user.id)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

