<div class="row">
    <div class="page-header">
        <h3>{{ headline }}</h3>
    </div>
</div>

<!--<legend>{{ headline }}</legend>-->

<!--- Edit User Form------->

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 p-0">
        <div class="ae-box">
            <form name="thisForm" class="form-horizontal ad-form" autocomplete="off" role="form">
                <div class="row">
                    <div class="col-lg-6 col-md-6 padding-bottom" ng-class="{ 'has-error': thisForm.regNo.$invalid && thisForm.regNo.$dirty }">
                        <label class="ls text-600 font-weight-semi-bold" for="regNo">Registration #<span class="data-required">*</span></label>
                        <input type="text" id="regNo" name="regNo" class="form-control" ng-model="vehicle.regNo"
                               placeholder="Registration Number">
                        <span ng-show="(thisForm.regNo.$dirty || thisForm.submitted) && thisForm.regNo.$error.required">Registraion Number required</span>
                    </div>
                    <div class="col-lg-6 col-md-6 padding-bottom" ng-class="{ 'has-error': thisForm.vehicleType.$invalid && thisForm.vehicleType.$dirty }">
                        <label class="ls text-600 font-weight-semi-bold" for="vehicleType">Vehicle Type<span class="data-required">*</span></label>
                        <input type="text" id="vehicleType" name="vehicleType" class="form-control" ng-model="vehicle.vehicleType" placeholder="Vehicle Type">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 padding-bottom">
                        <label class="ls text-600 font-weight-semi-bold" for="permitNumber">Permit Number</label>
                        <input type="text" id="permitNumber" class="form-control" ng-model="vehicle.permitNumber" placeholder="Permit Number">
                    </div>
                    <div class="col-lg-6 col-md-6 padding-bottom">
                        <label class="ls text-600 font-weight-semi-bold">Permit Expiry</label>
                        <my-datepicker ng-model="vehicle.permitExpiry"></my-datepicker>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 padding-bottom">
                        <label class="ls text-600 font-weight-semi-bold">Insurance Expiry</label>
                        <my-datepicker ng-model="vehicle.insuranceExpiry"></my-datepicker>
                    </div>
                    <div class="col-lg-6 col-md-6 padding-bottom">
                        <label class="ls text-600 font-weight-semi-bold">Fitness Expiry</label>
                        <my-datepicker ng-model="vehicle.fitnessExpiry"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 padding-bottom">
                        <label class="ls text-600 font-weight-semi-bold">Pollution Expiry</label>
                        <my-datepicker ng-model="vehicle.pollutionExpiry">
                    </div>
                    <div class="col-lg-6 col-md-6 padding-bottom">
                        <label class="ls text-600 font-weight-semi-bold">Authorization Expiry</label>
                        <my-datepicker ng-model="vehicle.authExpiry">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 padding-bottom">
                        <label class="ls text-600 font-weight-semi-bold" for="chasisNumber">Chasis Number</label>
                        <input type="text" id="chasisNumber" class="form-control" ng-model="vehicle.chasisNumber" placeholder="Chasis Number">
                    </div>
                    <div class="col-lg-6 col-md-6 padding-bottom">
                        <label class="ls text-600 font-weight-semi-bold" for="engineNumber">Engine Number</label>
                        <input type="text" id="engineNumber" class="form-control" ng-model="vehicle.engineNumber" placeholder="Engine Number">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 padding-bottom">
                        <label class="ls text-600 font-weight-semi-bold" for="noOfSeats">Number of Seats</label>
                        <input type="number" id="noOfSeats" name="noOfSeats" class="form-control" ng-model="vehicle.noOfSeats" placeholder="Number of seats">
                    </div>
                    <div class="col-lg-6 col-md-6 padding-bottom">
                        <label class="ls text-600 font-weight-semi-bold" for="noOfBerths">Number of berths</label>
                        <input type="number" id="noOfBerths" name="noOfBerths" class="form-control" ng-model="vehicle.noOfBerths" placeholder="Number of berths">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 padding-bottom" ng-class="{ 'has-error': thisForm.ownerName.$invalid && thisForm.ownerName.$dirty }">
                        <label class="ls text-600 font-weight-semi-bold" for="ownerName">Owner Name</label>
                        <input type="email" id="ownerName" name="ownerName" class="form-control" ng-model="vehicle.ownerName" placeholder="Owner Name">
                    </div>
                    <div class="col-lg-6 col-md-6 padding-bottom" ng-class="{ 'has-error': thisForm.ownerAddress.$invalid && thisForm.ownerAddress.$dirty }">
                        <label class="ls text-600 font-weight-semi-bold" for="ownerAddress">Owner Address</label>
                        <input type="number" id="ownerAddress" name="ownerAddress" class="form-control" ng-model="vehicle.ownerAddress" placeholder="Address">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 padding-bottom">
                        <label class="ls text-600 font-weight-semi-bold" for="yearOfManufacture">Year of manufacture</label>
                        <input type="number" id="yearOfManufacture" class="form-control" ng-model="vehicle.yearOfManufacture" placeholder="Year of Manufacture">
                    </div>
                    <div class="col-lg-6 col-md-6 padding-bottom">
                        <label class="ls text-600 font-weight-semi-bold" for="numberOfTyres">Number of tyres</label>
                        <input type="number" id="numberOfTyres" class="form-control" ng-model="vehicle.numberOfTyres" placeholder="Number of tyres">
                    </div>
                </div>
                <div class="row">
                    <div ng-repeat="vehicle in vehicle.taxPayments track by  $index">
                        <!--{{$index}}-->
                        <div class="col-lg-6 col-md-6 padding-bottom">
                            <label class="ls text-600 font-weight-semi-bold" for="yearOfManufacture">State</label>
                            <input type="text"  class="form-control" ng-model="vehicle.state" placeholder="State">
                        </div>
                        <div class="col-lg-5 col-md-5 col-xs-10 padding-bottom">
                            <label class="ls text-600 font-weight-semi-bold" for="numberOfTyres">Tax Expiry Date</label>
                            <my-datepicker ng-model="vehicle.paymentDate">
                        </div>
                        <div class="col-sm-1">
                            <div style="margin-top: 25px">
                            <button href="#" class="btn btn-info addingMaster" ng-click="addNewState()" ng-show="$index==0">
                                <i class="fa fa-plus-square"></i>
                            </button>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <button href="#" class="btn btn-danger addingMaster" ng-click="removeState($index)" ng-show="$index>0">
                                <i class="fa fa-minus-square"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div ng-show="vehicleId">
                        <!--rc upload-->
                        <div ng-hide="vehicle.rcCopy">
                            <div class="col-lg-5 col-md-5 padding-bottom">
                                <label style="color: #748194!important" for="numberOfTyres">Upload RC</label>
                                <input type="file" ng-model="file" ngf-select class="form-control">
                            </div>
                            <div class="col-sm-1">
                                <button href="#" class="btn btn-info addingMaster" style="position: absolute;right: 38px;top: 24px;" ng-click="uploadRc(file)">
                                    <i style="font-size: 15px" class="fa fa-upload"></i>
                                </button>
                            </div>
                        </div>
                        <div ng-show="vehicle.rcCopy">
                            <div class="col-lg-6 col-md-6 padding-bottom">
                                <div class="uploaded-files">
                                    <h5 style="margin-top: auto"><b>RC Copy</b></h5>
                                    <ol class="text-left">
                                        <li>
                                            <div class="col-sm-8">
                                                <span class="text-left" target="_blank">{{vehicle.attrs.rcFileName}} </span>
                                            </div>
                                            <div class="col-sm-1">
                                                <a  title="View" data-toggle="modal" data-target="#uploadModal" href="" ng-click="saveUrl(vehicle.attrs.rcUrl)">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                </a>
                                            </div>
                                            <div class="col-sm-1">
                                                <a href="{{vehicle.attrs.rcUrl}}" title="Download" download>
                                                    <span class="glyphicon glyphicon-download" data-toggle="modal" data-target="#viewUpload"></span>
                                                </a>
                                            </div>
                                            <div class="col-sm-1">
                                                <a href="" title="Delete" ng-click="removeRC(vehicle.rcCopy)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                            </div>
                                        </li>
                                    </ol>

                                </div>
                            </div>
                        </div>
                        <!--fc upload-->
                        <div ng-hide="vehicle.fcCopy">
                            <div class="col-lg-5 col-md-5 padding-bottom">
                                <label style="color: #748194!important" for="numberOfTyres">Upload FC</label>
                                <input type="file" ng-model="file" ngf-select class="form-control">
                            </div>
                            <div class="col-sm-1">
                                <button href="#" class="btn btn-info addingMaster" style="position: absolute;right: 38px;top: 24px;" ng-click="uploadFc(file)">
                                    <i style="font-size: 15px" class="fa fa-upload"></i>
                                </button>
                            </div>
                        </div>
                        <div ng-show="vehicle.fcCopy">
                            <div class="col-lg-6 col-md-6 padding-bottom">
                                <div class="uploaded-files">
                                    <h5 style="margin-top: auto"><b>FC Copy</b></h5>
                                    <ol class="text-left">
                                        <li>
                                            <div class="col-sm-8">
                                                <span class="text-left" target="_blank">{{vehicle.attrs.fcFileName}} </span>
                                            </div>
                                            <div class="col-sm-1">
                                                <a  title="View" data-toggle="modal" data-target="#uploadModal" href="" ng-click="saveUrl(vehicle.attrs.fcUrl)">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                </a>
                                            </div>
                                            <div class="col-sm-1">
                                                <a href="{{vehicle.attrs.fcUrl}}" title="Download" download>
                                                    <span class="glyphicon glyphicon-download" data-toggle="modal" data-target="#viewUpload"></span>
                                                </a>
                                            </div>
                                            <div class="col-sm-1">
                                                <a href="" title="Delete" ng-click="removeFcCopy(vehicle.fcCopy)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div ng-show="vehicleId">
                        <!--permit upload-->
                        <div ng-hide="vehicle.permitCopy">
                            <div class="col-lg-5 col-md-5 padding-bottom">
                                <label style="color: #748194!important" for="numberOfTyres">Upload Permit</label>
                                <input type="file" ng-model="file" ngf-select class="form-control">
                            </div>
                            <div class="col-sm-1">
                                <button href="#" class="btn btn-info addingMaster" style="position: absolute;right: 38px;top: 24px;" ng-click="permitUpload(file)">
                                    <i style="font-size: 15px" class="fa fa-upload"></i>
                                </button>
                            </div>
                        </div>
                        <div ng-show="vehicle.permitCopy">
                            <div class="col-lg-6 col-md-6 padding-bottom">
                                <div class="uploaded-files">
                                    <h5 style="margin-top: auto"><b>Permit Copy</b></h5>
                                    <ol class="text-left">
                                        <li>
                                            <div class="col-sm-8">
                                                <span class="text-left" target="_blank">{{vehicle.attrs.permitFileName}} </span>
                                            </div>
                                            <div class="col-sm-1">
                                                <a  title="View" data-toggle="modal" data-target="#uploadModal" href="" ng-click="saveUrl(vehicle.attrs.permitUrl)">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                </a>
                                            </div>
                                            <div class="col-sm-1">
                                                <a href="{{vehicle.attrs.permitUrl}}" title="Download" download>
                                                    <span class="glyphicon glyphicon-download" data-toggle="modal" data-target="#viewUpload"></span>
                                                </a>
                                            </div>
                                            <div class="col-sm-1">
                                                <a href="" title="Delete" ng-click="removePermitCopy(vehicle.permitCopy)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>

                        <!--auth upload-->
                        <div ng-hide="vehicle.authCopy">
                            <div class="col-lg-5 col-md-5 padding-bottom">
                                <label style="color: #748194!important" for="numberOfTyres">Upload Auth</label>
                                <input type="file" ng-model="file" ngf-select class="form-control">
                            </div>
                            <div class="col-sm-1">
                                <button href="#" class="btn btn-info addingMaster" style="position: absolute;right: 38px;top: 24px;" ng-click="authUpload(file)">
                                    <i style="font-size: 15px" class="fa fa-upload"></i>
                                </button>
                            </div>
                        </div>
                        <div ng-show="vehicle.authCopy">
                            <div class="col-lg-6 col-md-6 padding-bottom">
                                <div class="uploaded-files">
                                    <h5 style="margin-top: auto"><b>Auth Copy</b></h5>
                                    <ol class="text-left">
                                        <li>
                                            <div class="col-sm-8">
                                                <span class="text-left" target="_blank">{{vehicle.attrs.authFileName}} </span>
                                            </div>
                                            <div class="col-sm-1">
                                                <a  title="View" data-toggle="modal" data-target="#uploadModal" href="" ng-click="saveUrl(vehicle.attrs.authUrl)">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                </a>
                                            </div>
                                            <div class="col-sm-1">
                                                <a href="{{vehicle.attrs.authUrl}}" title="Download" download>
                                                    <span class="glyphicon glyphicon-download" data-toggle="modal" data-target="#viewUpload"></span>
                                                </a>
                                            </div>
                                            <div class="col-sm-1">
                                                <a href="" title="Delete" ng-click="removeAuthCopy(vehicle.authCopy)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div ng-show="vehicleId">
                        <!--Insurance upload-->
                        <div ng-hide="vehicle.insuranceCopy">
                            <div>
                                <div class="col-lg-5 col-md-5 padding-bottom">
                                    <label style="color: #748194!important" for="numberOfTyres">Upload Insurance</label>
                                    <input type="file" ng-model="file" ngf-select class="form-control">
                                </div>

                                <div class="col-sm-1">
                                    <button href="#" class="btn btn-info addingMaster" style="position: absolute;right: 38px;top: 24px;" ng-click="insuranceUpload(file)">
                                        <i style="font-size: 15px" class="fa fa-upload"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div ng-show="vehicle.insuranceCopy">
                            <div class="col-lg-6 col-md-6 padding-bottom">
                                <div class="uploaded-files">
                                    <h5 style="margin-top: auto"><b>Insurance Copy</b></h5>
                                    <ol class="text-left">
                                        <li>
                                            <div class="col-sm-8">
                                                <span class="text-left" target="_blank">{{vehicle.attrs.insuranceFileName}} </span>
                                            </div>
                                            <div class="col-sm-1">
                                                <a  title="View" data-toggle="modal" data-target="#uploadModal" href="" ng-click="saveUrl(vehicle.attrs.insuranceUrl)">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                </a>
                                            </div>
                                            <div class="col-sm-1">
                                                <a href="{{vehicle.attrs.insuranceUrl}}" title="Download" download>
                                                    <span class="glyphicon glyphicon-download" data-toggle="modal" data-target="#viewUpload"></span>
                                                </a>
                                            </div>
                                            <div class="col-sm-1">
                                                <a href="" title="Delete" ng-click="removeInsuranceCopy(vehicle.insuranceCopy)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>

                        <!--Pollution upload-->
                        <div ng-hide="vehicle.pollutionCopy">
                            <div class="col-lg-5 col-md-5 padding-bottom">
                                <label style="color: #748194!important" for="numberOfTyres">Pollution Upload</label>
                                <input type="file" ng-model="file" ngf-select class="form-control">
                            </div>
                            <div class="col-sm-1">
                                <button href="#" class="btn btn-info addingMaster" style="position: absolute;right: 38px;top: 24px;" ng-click="pollutionUpload(file)">
                                    <i style="font-size: 15px" class="fa fa-upload"></i>
                                </button>
                            </div>
                        </div>

                        <div ng-show="vehicle.pollutionCopy">
                            <div class="col-lg-6 col-md-6 padding-bottom">
                                <div class="uploaded-files">
                                    <h5 style="margin-top: auto"><b>Pollution Copy</b></h5>
                                    <ol class="text-left">
                                        <li>
                                            <div class="col-sm-8">
                                                <span class="text-left" target="_blank">{{vehicle.attrs.pollutionFileName}} </span>
                                            </div>
                                            <div class="col-sm-1">
                                                <a  title="View" data-toggle="modal" data-target="#uploadModal" href="" ng-click="saveUrl(vehicle.attrs.pollutionUrl)">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                </a>
                                            </div>
                                            <div class="col-sm-1">
                                                <a href="{{vehicle.attrs.pollutionUrl}}" title="Download" download>
                                                    <span class="glyphicon glyphicon-download" data-toggle="modal" data-target="#viewUpload"></span>
                                                </a>
                                            </div>
                                            <div class="col-sm-1">
                                                <a href="" title="Delete" ng-click="removePollutionCopy(vehicle.pollutionCopy)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div ng-show="vehicleId">
                        <file-upload ng-model="file" type="'Vehicle'"></file-upload>
                    </div>
                    <div class="col-lg-12 col-md-12 padding-bottom">
                        <label class="ls text-600 font-weight-semi-bold checkbox" for="editActiveInput" style="margin-left: 20px">
                            <input type="checkbox" id="editActiveInput" class="form-check-input custom-check" ng-model="vehicle.active">
                            Active
                        </label>
                    </div>
                </div>
                <div class="form-group row text-center mt-30">
                    <button class="btn btn-primary" ng-click="save()">Save</button>
                    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
                </div>

            </form>
        </div>
    </div>
</div>

<div id="uploadModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width: 530px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="text-align: center">
                <img ng-src="{{url}}" alt="Upload" height="800px" width="800px">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

        <!--<form name="thisForm" class="form-horizontal" autocomplete="off" role="form">-->
            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label" for="regNo">Registration #<span class="data-required">*</span></label>-->
                <!--<div class="col-sm-4" ng-class="{ 'has-error': thisForm.regNo.$invalid && thisForm.regNo.$dirty }">-->
                    <!--<input type="text" id="regNo" name="regNo" class="form-control" ng-model="vehicle.regNo"-->
                           <!--placeholder="Registration Number">-->
                    <!--<span ng-show="(thisForm.regNo.$dirty || thisForm.submitted) && thisForm.regNo.$error.required">Registraion Number required</span>-->
                <!--</div>-->

                <!--<label class="col-sm-2 control-label" for="vehicleType">Vehicle Type<span class="data-required">*</span></label>-->
                <!--<div class="col-sm-4" ng-class="{ 'has-error': thisForm.vehicleType.$invalid && thisForm.vehicleType.$dirty }">-->
                    <!--<input type="text" id="vehicleType" name="vehicleType" class="form-control" ng-model="vehicle.vehicleType" placeholder="Vehicle Type">-->
                <!--</div>-->

            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label" for="permitNumber">Permit Number</label>-->
                <!--<div class="col-sm-4">-->
                    <!--<input type="text" id="permitNumber" class="form-control" ng-model="vehicle.permitNumber" placeholder="Permit Number">-->
                <!--</div>-->
                <!--<label class="col-sm-2 control-label">Permit Expiry</label>-->
                <!--<div class="col-sm-4">-->
                    <!--<my-datepicker ng-model="vehicle.permitExpiry"></my-datepicker>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label">Insurance Expiry</label>-->
                <!--<div class="col-sm-4">-->
                    <!--<my-datepicker ng-model="vehicle.insuranceExpiry"></my-datepicker>-->
                <!--</div>-->
                <!--<label class="col-sm-2 control-label">Fitness Expiry</label>-->
                <!--<div class="col-sm-4">-->
                    <!--<my-datepicker ng-model="vehicle.fitnessExpiry"/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label">Pollution Expiry</label>-->
                <!--<div class="col-sm-4">-->
                    <!--<my-datepicker ng-model="vehicle.pollutionExpiry">-->
                <!--</div>-->
                <!--<label class="col-sm-2 control-label">Authorization Expiry</label>-->
                <!--<div class="col-sm-4">-->
                    <!--<my-datepicker ng-model="vehicle.authExpiry">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label" for="chasisNumber">Chasis Number</label>-->
                <!--<div class="col-sm-4">-->
                    <!--<input type="text" id="chasisNumber" class="form-control" ng-model="vehicle.chasisNumber" placeholder="Chasis Number">-->
                <!--</div>-->
                <!--<label class="col-sm-2 control-label" for="engineNumber">Engine Number</label>-->
                <!--<div class="col-sm-4">-->
                    <!--<input type="text" id="engineNumber" class="form-control" ng-model="vehicle.engineNumber" placeholder="Engine Number">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label" for="noOfSeats">Number of Seats</label>-->
                <!--<div class="col-sm-4">-->
                    <!--<input type="number" id="noOfSeats" name="noOfSeats" class="form-control" ng-model="vehicle.noOfSeats" placeholder="Number of seats">-->
                <!--</div>-->
                <!--<label class="col-sm-2 control-label" for="noOfBerths">Number of berths</label>-->
                <!--<div class="col-sm-4">-->
                    <!--<input type="number" id="noOfBerths" name="noOfBerths" class="form-control" ng-model="vehicle.noOfBerths"-->
                           <!--placeholder="Number of berths">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label" for="ownerName">Owner Name</label>-->
                <!--<div class="col-sm-4" ng-class="{ 'has-error': thisForm.ownerName.$invalid && thisForm.ownerName.$dirty }">-->
                    <!--<input type="email" id="ownerName" name="ownerName" class="form-control" ng-model="vehicle.ownerName" placeholder="Owner Name">-->
                <!--</div>-->

                <!--<label class="col-sm-2 control-label" for="ownerAddress">Owner Address</label>-->
                <!--<div class="col-sm-4" ng-class="{ 'has-error': thisForm.ownerAddress.$invalid && thisForm.ownerAddress.$dirty }">-->
                    <!--<input type="number" id="ownerAddress" name="ownerAddress" class="form-control" ng-model="vehicle.ownerAddress" placeholder="Address">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label" for="yearOfManufacture">Year of manufacture</label>-->
                <!--<div class="col-sm-4">-->
                    <!--<input type="number" id="yearOfManufacture" class="form-control" ng-model="vehicle.yearOfManufacture" placeholder="Year of Manufacture">-->
                <!--</div>-->

                <!--<label class="col-sm-2 control-label" for="numberOfTyres">Number of tyres</label>-->
                <!--<div class="col-sm-4">-->
                    <!--<input type="number" id="numberOfTyres" class="form-control" ng-model="vehicle.numberOfTyres" placeholder="Number of tyres">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<div ng-repeat="vehicle in vehicle.taxPayments track by  $index">-->
                    <!--&lt;!&ndash;{{$index}}&ndash;&gt;-->
                    <!--<label class="col-sm-2 control-label" for="yearOfManufacture">State</label>-->
                    <!--<div class="col-sm-4">-->
                        <!--<input type="text"  class="form-control" ng-model="vehicle.state"-->
                               <!--placeholder="State">-->
                    <!--</div>-->

                    <!--<label class="col-sm-2 control-label" for="numberOfTyres">Tax Expiry Date</label>-->
                    <!--<div class="col-sm-3">-->
                        <!--<my-datepicker ng-model="vehicle.paymentDate">-->
                    <!--</div>-->
                <!--<div class="col-sm-1">-->
                    <!--<a href="#" class="addingMaster" ng-click="removeState($index)"-->

                       <!--ng-show="$index>0">-->
                        <!--<i class="fa fa-minus-square"></i>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-sm-1">-->
                    <!--<a href="#" class="addingMaster" ng-click="addNewState()" ng-show="$index">-->
                        <!--<i class="fa fa-plus-square"></i>-->
                    <!--</a></div>-->
                <!--</div>-->
            <!--</div>-->


            <!--<div class="form-group">-->
                <!--<div ng-show="vehicleId">-->
                    <!--<file-upload ng-model="file" type="'Vehicle'"></file-upload>-->
                <!--</div>-->
                <!--<label class="col-sm-2 control-label checkbox" for="editActiveInput">Active</label>-->
                <!--<div class="col-xs-1">-->
                    <!--<input type="checkbox" id="editActiveInput" class="form-check-input custom-check" ng-model="vehicle.active">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="clearfix"></div>-->
           <!--<div class="form-group row text-center mt-30">-->
                    <!--<button class="btn btn-primary" ng-click="save()">Save</button>-->
                    <!--<button class="btn btn-danger" ng-click="cancel()">Cancel</button>-->
            <!--</div>-->

        <!--</form>-->


